body{
 background-color:#001731;
}
header{
    text-align: center;
    margin: auto;
    font-size: 30pt;
    color: rgb(20, 146, 219);
    text-shadow: 5px 5px 10px;
}
section{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 20em;
    margin: auto;
    box-shadow: 5px 5px 10px;
    font-size: 15pt;
    font-style: italic;
 }
 div{
   text-align: center;
   padding: 5px
 }
 footer{
    margin: auto;
    text-align: center;
    font-size: large;
    color:white
 }
 img{
   height: 9em;
   margin: auto;
   border-radius: 300px 300px 300px;
 }   
